<!DOCTYPE html>
{#Reference: https://codeloop.org/flask-login-flask-logout-tutorial/#}
{#Reference_2: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login#}
{#Reference_3: https://getbootstrap.com/docs/4.0/getting-started/introduction/#}
{#Reference_4: https://bulma.io/documentation/layout/hero/#}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

<section class="hero is-info is-large is-fullheight is-fullwidth">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        {% block userInfo %} {% endblock %}
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        {% block navbarContent %}
                        {% endblock %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container has-text-centered">
            {% block headContent %}
            {% endblock %}
        </div>
    </div>

    <div class="container has-text-centered">
        {% block bodyContent %}
        {% endblock %}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block loginContent %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>