{% extends "patient.html" %}

{% block title %} COVID-19 Clinician's Web Portal - {{ page }} {% endblock %}

{% block userInfo %}
    <h2 class="title is-5"> Welcome {{ c_name }}! </h2>

{% endblock %}

{% block headContent %}
    <br><br><br><br><br><br>
    <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
            <p class="title is-3">Patient {{ p_name }}</p>
        </div>
    </div>
    <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
            <p class="title is-3">Patient's Risk Level: {{ patient_record['health status'] }}</p>
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
            <p class="title is-3">Current Ward Allocation: {{ patient_record['ward allocation'] }}</p>
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
            <p class="title is-3">Suggest Allocation: {{ patient_record['suggest ward'] }}</p>
        </div>
    </div>
{% endblock %}

{% block bodyContent %}
    <br><br><br><br>
    <div class="columns">
        <div class="column">
            <p class="bd-notification is-info title is-5">Current vital signs</p>
            <br>
            <div class="columns is-mobile">
                <div class="column">
                    <p class="bd-notification is-info">Leukocytes</p>
                </div>
                <div class="column">
                    <p class="bd-notification is-info">{{ '%0.3f' | format(patient_record['leukocytes']|float) }} {{ patient_record['UoM leukocytes'] }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <p class="bd-notification is-info">Platelets</p>
                </div>
                <div class="column">
                    <p class="bd-notification is-info">{{ '%0.3f' | format(patient_record['platelets']|float) }} {{ patient_record['UoM platelets'] }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <p class="bd-notification is-info">Platelets Mean Volume</p>
                </div>
                <div class="column">
                    <p class="bd-notification is-info">{{ '%0.3f' | format(patient_record['platelets mean volume']|float) }} {{ patient_record['UoM platelets mean volume'] }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <p class="bd-notification is-info">Eosinophils</p>
                </div>
                <div class="column">
                    <p class="bd-notification is-info">{{ '%0.3f' | format(patient_record['eosinophils']|float) }} {{ patient_record['UoM eosinophils'] }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <p class="bd-notification is-info">Monocytes</p>
                </div>
                <div class="column">
                    <p class="bd-notification is-info">{{ '%0.3f' | format(patient_record['monocytes']|float) }} {{ patient_record['UoM monocytes'] }}</p>
                </div>
            </div>
        </div>
        <div class="column">
            <br><br>
            {% if patient_record['patient has disease'] %}
                <p class="bd-notification is-danger title is-5">Patient is currently infected / has other disease</p>
            {% endif %}
            <br><br>
            <p class="bd-notification is-danger title is-5">COVID-19 Test Result</p>
            <div class="column">
                {% if patient_record['COVID-19 test result'] %}
                    <p class="bd-notification is-danger title is-4">Positive</p>
                {% else %}
                    <p class="bd-notification is-danger title is-4">Negative</p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}